doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title #{current}
        include links
    body
        include header
        h1#h-prof Profile
        .prof-inf
            img(src="/assets/account.svg")
            p#hello Привет, #{current}
            p#yourma Ваша почта: #{data.login}
            p#yourpa Ваш пароль: #{data.password}

        .form-res
            form.resume-form(action='', method='post')
                label
                    span Фамилия:
                    input(type='text' maxlength=19 required=true placeholder="Джон")
                br
                label
                    span Имя:
                    input(type='text' maxlength=10 required=true placeholder="Иванов")
                br
                label
                    span Дата рождения:
                    input.inp-num(type='date' required=true)
                br
                label
                    span#bug Высшее образование
                    input.radio(type='checkbox')
                br
                label
                    span Стаж работы:
                    input.inp-num(type='number' min="0" max="50" value="0" required=true)
                br
                label
                    span Специальность:
                    select#select-spec(name='select-spec', style='width: 150px; height: 33px' required=true)
                        option(value='') Programmer
                        option(value='') Ingineer
                        option(value='') Photographer
                        option(value='') Artist
                        option(value='') Scientist
                br
                label
                    span Телефон:
                    input(type="tel" name="phone" pattern="\\+[0-9]{1,3}\\([0-9]{3,4}\\)[0-9]{3}-[0-9]{4}" maxlength=19
                    placeholder="+1(999)999-9999")
                br
                label
                    span Предпочитаемый режим работы:
                    select#time-mode(name='time-mode', style='width: 200px; height: 33px' required=true)
                        option(value='') Полный день
                        option(value='') Частичная занятость
                        option(value='') Плавающий график
                        option(value='') Удалённая работа
                br
                label
                    span Прогресс заполнения резюме:
                    progress#res-progress(max='100', value='1')

        script(src='/assets/script.js')
