doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title #{current}
        include links
    body
        include header
        h1#h-prof Profile
        .prof-inf
            img(src="/assets/account.svg")
            p#hello Привет, #{current}
            p#yourma Ваша почта: #{login}

        .form-res
            form.resume-form#resume-form(action='' method='post' name="Resume")
                label
                    span Имя:
                    input#i-name(type='text' name="Name" maxlength=19 required=true placeholder="Иван")
                br
                label
                    span Фамилия:
                    input#i-secname(type='text' name="SecondName" maxlength=10 required=true placeholder="Иванов")
                br
                label
                    span Дата рождения:
                    input.inp-num#i-date(type='date' name="Birthdate" required=true)
                br
                label
                    span#bug Высшее образование
                    input.radio#i-ed(type='checkbox' name="Education", checked=false)
                br
                label
                    span Стаж работы:
                    input.inp-num#i-ex(type='number' min="0" max="50" value="0" name="Experience" required=true)
                br
                label
                    span Специализация:
                    select#select-spec(name='Specialization', style='width: 150px; height: 33px' required=true)
                        option(value='Программист') Программист
                        option(value='Инженер') Инженер
                        option(value='Фотограф') Фотограф
                        option(value='Артист') Артист
                        option(value='Учёный') Учёный
                br
                label
                    span Телефон:
                    input#i-tel(type="tel" name="Phone" pattern="\\+[0-9]{1,3}\\([0-9]{3,4}\\)[0-9]{3}-[0-9]{4}" maxlength=19
                    placeholder="+1(999)999-9999")
                br
                label
                    span Предпочитаемый режим работы:
                    select#time-mode(name='Time-mode', style='width: 200px; height: 33px' required=true)
                        option(value='Полный день') Полный день
                        option(value='Частичная занятость') Частичная занятость
                        option(value='Плавающий график') Плавающий график
                        option(value='Удалённая работа') Удалённая работа
                br
                label
                    span Желаемая зароботная плата:
                    input.inp-num#i-payb(type='number' min="0" max="9000000" value="0" step="1000" name="Pay-b" required=true)
                    span -
                    input.inp-num#i-payt(type='number' min="0" max="9000000" value="0" step="1000" name="Pay-t" required=true)
                br
                label
                    span О себе:
                    textarea#i-about(name="About" required=true placeholder="Коротко о себе")
                br
                button#submit(type="button" onclick="resume_submit()") Сохранить


        script(src='/assets/script.js')
